## 1929번 소수 구하기

In [ ]:
import math
m, n = map(int, input().split())
array = [True for i in range(n + 1)]

# 1일때 판정
if m == 1: m = 2

for i in range(2, int(math.sqrt(n)) + 1):
    if array[i] == True:
        j = 2
        while i * j <= n:
            array[i * j] = False
            j += 1

for i in range(m, n + 1):
    if array[i]:
        print(i, end = '\n')

## 가희와 함께 하는 3회 코딩테스트
* 1번 - 가희와 무궁화호

In [ ]:
import numpy as np
import pandas as pd
import datetime

In [ ]:
data1 = {'역 번호':[1,2,3,4,5,6,7,8,9,10,
                 11,12,13,14,15,16,17,18,19,20,
                 21,22,23,24,25,26,27,28,29,30,
                 31,32,33,34,35,36,37,38,39,40,
                 41,42,43],
         '역 이름':['Seoul', 'Yeondeungpo', 'Anyang', 'Suwon', 'Osan', 'Seojeongri', 'Pyeontaek', 'Seonghwan', 'Cheonan', 'Sojeongni',
                 'Jeonui', 'Jochiwon', 'Bugang', 'Sintanjin', 'Daejeon', 'Okcheon', 'Iwon', 'Jitan', 'Simcheon', 'Gakgye',
                 'Yeongdong', 'Hwanggan', 'Chupungnyeong', 'Gimcheon', 'Gumi', 'Sagok', 'Yangmok', 'Waegwan', 'Sindong', 'Daegu',
                 'Dongdaegu', 'Gyeongsan', 'Namseonghyeon', 'Cheongdo', 'Sangdong', 'Miryang', 'Samnangjin', 'Wondong', 'Mulgeum', 'Hwamyeong',
                 'Gupo', 'Sasang', 'Busan'],
         '거리 (km)':[0.0, 9.1, 23.9, 41.5, 56.5, 66.5, 75.0, 84.4, 96.6, 107.4,
                    114.9, 129.3, 139.8, 151.9, 166.3, 182.5, 190.8, 196.4, 200.8, 204.6,
                    211.6, 226.2, 234.7, 253.8, 276.7, 281.3, 289.5, 296.0, 305.9, 323.1,
                    326.3, 338.6, 353.1, 361.8, 372.2, 381.6, 394.1, 403.2, 412.4, 421.8,
                    425.2, 430.3, 441.7],
         '필수 정차 여부':['Y','Y','N','Y','N','N','Y','N','Y','N',
                     'N','Y','N','N','Y','N','N','N','N','N',
                     'Y','N','N','Y','Y','N','N','Y','N','Y',
                     'Y','N','N','N','N','Y','N','N','N','N',
                     'Y','N','Y']}

In [ ]:
data2 = pd.DataFrame(data1)

In [ ]:
n, q = map(int, input().split())
graph = []
quest = []

# 정차역 이름, 도착 정보, 출발 정보
for i in range(n):
    a, b, c = input().split()
    graph.append((a, b, c))

# 질문
for i in range(q):
    d, e = input().split()
    quest.append((d, e))

18 2
Seoul -:- 06:40
Yeongdeungpo 06:49 06:50
Suwon 07:10 07:11
Pyeongtaek 07:31 07:32
Cheonan 07:45 07:46
Jochiwon 08:07 08:08
Daejeon 08:33 08:35
Yeongdong 09:01 09:02
Gimcheon 09:28 09:29
Gumi 09:43 09:44
Waegwan 09:56 09:57
Daegu 10:14 10:15
Dongdaegu 10:19 10:21
Gyeongsan 10:30 10:31
Cheongdo 10:46 10:47
Miryang 10:59 11:00
Gupo 11:25 11:26
Busan 11:38 -:-
Seoul Dongdaegu
Miryang Gupo

In [ ]:
graph2 = pd.DataFrame(graph, columns = ['정차역 이름', '도착 정보', '출발 정보'])
graph2

In [ ]:
graph3 = graph2.replace('-:-', np.nan)
graph3

In [ ]:
graph3['도착 정보'] = pd.to_datetime(graph3['도착 정보'], format='%H:%M', errors='raise')
graph3['출발 정보'] = pd.to_datetime(graph3['출발 정보'], format='%H:%M', errors='raise')

In [ ]:
graph3['도착 정보'] = np.array(graph3['도착 정보'], dtype = 'datetime64[h]')
graph3['출발 정보'] = np.array(graph3['출발 정보'], dtype = 'datetime64[h]')
graph3

In [ ]:
time = graph3[graph3['정차역 이름'] == quest[0][1]]['도착 정보'] - graph3[graph3['정차역 이름'] == quest[0][0]]['출발 정보'].values

In [ ]:
time

12   0 days 03:39:00
Name: 도착 정보, dtype: timedelta64[ns]

In [ ]:
graph3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   정차역 이름  18 non-null     object
 1   도착 정보   17 non-null     datetime64[ns]
 2   출발 정보   17 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 560.0+ bytes

In [ ]:
for i in range(q):
    dist = data2[data2['역 이름'] == quest[i][1]]['거리 (km)'].values \n
            - data2[data2['역 이름'] == quest[i][0]]['거리 (km)'].values
    time = graph3[graph3['정차역 이름'] == quest[i][1]]['도착 정보'] - \n
            graph3[graph3['정차역 이름'] == quest[i][0]]['출발 정보']
    speed = dist / time

In [ ]:
dist = data2[data2['역 이름'] == quest[0][1]]['거리 (km)'].values - data2[data2['역 이름'] == quest[0][0]]['거리 (km)'].values

In [ ]:
print(dist)

[326.3]

In [ ]:
time = graph3[graph3['정차역 이름'] == quest[0][1]]['도착 정보'] - graph3[graph3['정차역 이름'] == quest[0][0]]['출발 정보'].values

In [ ]:
time.hour

In [ ]:
dist/pd.Timedelta(time)

### 정답

In [ ]:
import sys

# my_input = sys.stdin.readline

def init_gyeongbu_line_station_info():
    arr = [
        '1	Seoul	0.0	Y	23	Chupungnyeong	234.7	N',
        '2	Yeongdeungpo	9.1	Y	24	Gimcheon	253.8	Y',
        '3	Anyang	23.9	N	25	Gumi	276.7	Y',
        '4	Suwon	41.5	Y	26	Sagok	281.3	N',
        '5	Osan	56.5	N	27	Yangmok	289.5	N',
        '6	Seojeongri	66.5	N	28	Waegwan	296.0	Y',
        '7	Pyeongtaek	75.0	Y	29	Sindong	305.9	N',
        '8	Seonghwan	84.4	N	30	Daegu	323.1	Y',
        '9	Cheonan	96.6	Y	31	Dongdaegu	326.3	Y',
        '10	Sojeongni	107.4	N	32	Gyeongsan	338.6	N',
        '11	Jeonui	114.9	N	33	Namseonghyeon	353.1	N',
        '12	Jochiwon	129.3	Y	34	Cheongdo	361.8	N',
        '13	Bugang	139.8	N	35	Sangdong	372.2	N',
        '14	Sintanjin	151.9	N	36	Miryang	381.6	Y',
        '15	Daejeon	166.3	Y	37	Samnangjin	394.1	N',
        '16	Okcheon	182.5	N	38	Wondong	403.2	N',
        '17	Iwon	190.8	N	39	Mulgeum	412.4	N',
        '18	Jitan	196.4	N	40	Hwamyeong	421.8	N',
        '19	Simcheon	200.8	N	41	Gupo	425.2	Y',
        '20	Gakgye	204.6	N	42	Sasang	430.3	N',
        '21	Yeongdong	211.6	Y	43	Busan	441.7	Y',
        '22	Hwanggan	226.2	N',
    ]
    dic = {}
    for target in arr:
        items = target.split()
        dic[items[1]] = float(items[2])
        if len(items) > 7:
            dic[items[5]] = float(items[6])
    return dic

In [ ]:
def time_to_num(time):
    return 60 * int(time[0:2]) + int(time[3:5])

In [ ]:
# 경부선 역 정보 얻어오기.
gb_info = init_gyeongbu_line_station_info()
n, q = map(int, input().split(' '))
s_dic = {}
s_list = []
for i in range(n):
    # station_name hh:mm hh:mm
    dia = input().split(' ')
    s_list.append(dia[0])
    s_dic[dia[0]] = tuple(dia)

18 2
Seoul -:- 06:40
Yeongdeungpo 06:49 06:50
Yeongdeungpo 06:49 06:50
Pyeongtaek 07:31 07:32
Cheonan 07:45 07:46
Jochiwon 08:07 08:08
Daejeon 08:33 08:35
Yeongdong 09:01 09:02
Gimcheon 09:28 09:29
Gumi 09:43 09:44
Waegwan 09:56 09:57
Daegu 10:14 10:15
Dongdaegu 10:19 10:21
Gyeongsan 10:30 10:31
Cheongdo 10:46 10:47
Miryang 10:59 11:00
Gupo 11:25 11:26
Busan 11:38 -:-

In [ ]:
for i in range(q):
    s = input().split(' ')
    s[1] = s[1].replace('\n', '')

    # 거리 구하기
    dist = abs(gb_info[s[1]] - gb_info[s[0]])
    # 시간 구하기
    t0 = time_to_num(s_dic[s[0]][2]) # 출발 시각
    t1 = time_to_num(s_dic[s[1]][1]) # 도착 시각
    if t0 > t1:
        t1 = t1 + 24 * 60
    delta_min = t1 - t0
    ans = (dist * 60) / delta_min
    print(f'{ans:.10f}')

Seoul Dongdaegu
89.3972602740
Miryang Gupo
104.6400000000

In [ ]:
s

['Miryang', 'Gupo']

## 1158 요세푸스 문제

In [ ]:
n, k = map(int, input().split())
array = list(range(1, n + 1))
result = []

7 3

In [ ]:
x = 0
for i in range(1, n + 1):
    x += (k - 1)
    while x >= len(array):
        x = x % len(array)
    result.append(str(array[x]))
    del array[x]
    n -= 1

print('<', ', '.join(result), '>', sep = '')

<3, 6, 2, 7, 5, 1, 4>

In [ ]:
x = 0
for i in range(1, n + 1):
    x += (k - 1)
    print('x', x)
    while x >= len(array):
        x = x % len(array)
        print(x, len(array))
    print(array[x])
    del array[x]
    n -= 1

## 1758 알바생 강호

In [ ]:
n = int(input())
tip = []
for _ in range(n):
    tip.append(int(input()))

3
1
2
3

In [ ]:
tip.sort(reverse = True)

In [ ]:
real = 0
for i in range(n):
    r = tip[i] - i
    if r >= 0:
        real += r
print(real)

4

## 2839 설탕 배달

* 예제 2까지 가능

In [ ]:
n = int(input())

p = n // 5
r = n % 5

p += r // 3
rest = r % 3

if rest == 0:
    print(p)
else:
    print(-1)

6
-1

* 예제 4까지 가능

In [ ]:
n = int(input())

p = n // 5
r = n % 5

if r % 3 == 0:
    p += r // 3
    print(p)
else:
    p = n // 3
    r = n % 3

    p += r // 5
    rest = r % 5
    if rest == 0:
        print(p)
    else:
        print(-1)

11
-1

In [ ]:
a = int()

In [ ]:
a

0

In [ ]:
n = int(input())
a = int()
b = int()

if n == 3 * a + 5 * b:
    print(min(a + b))
else:
    print(-1)

18
-1

### 정답

In [ ]:
n = int(input())
count = 0

while n >= 0:
    if n % 5 == 0:
        count += (n // 5)
        print(count)
        break
    n -= 3
    count += 1
else:
    print(-1)

11
3

## 16987 계란으로 계란치기

In [ ]:
n = int(input())
egg = {}

for i in range(n):
    sw = map(int, input().split())
    egg[i] = tuple(sw)

3
8 5
1 100
3 5

In [ ]:
egg

{0: (8, 5), 1: (1, 100), 2: (3, 5)}

In [ ]:
br =0

for i in range(1, n):
    egg[0][0] -= egg[n][1]
    egg[n][0] -= egg[0][1]
    if egg[0][0] <= 0:
        if egg[n][0] <= 0:
            br += 2
        else:
            br += 1
    else:

### 정답

In [ ]:
n = int(input())
s = [0] * n
w = [0] * n

for i in range(n):
    s[i], w[i] = map(int, input().split())

3
8 5
1 100
3 5

In [ ]:
br = 0
def bfs(idx, egg):
    global br
    if idx == n:
        cnt = 0
        for i in range(n):
            if egg[i] <= 0:
                cnt += 1
        if cnt > br:
            br = cnt
        return

    if egg[idx] > 0:
        for i in range(n):
            flag = False
            if egg[i] > 0 and i != idx:
                flag = True
                tmp = egg[:]
                tmp[i] -= w[idx]
                tmp[idx] -= w[i]
                bfs(idx+1, tmp)
        if not flag:
            bfs(idx+1, egg)
    else:
        bfs(idx+1, egg)

bfs(0, s)
print(br)

3

## 18352 특정 거리의 도시 찾기

In [ ]:
# 도시의 개수 n, 도로의 개수 m, 거리 정보 k, 출발 도시의 번호 x
n, m, k, x = map(int, input().split())
# 간선 정보 담기
edges = []

# a -> b 도시로 이동하는 단방향 도로
for _ in range(m):
    a, b = map(int, input().split())
    edges.append((a, b))

4 4 1 1
1 2
1 3
2 3
2 4

In [ ]:
INF = int(1e9)
dist = [INF] * (n + 1)

def bf(start):
    dist[start] = 0
    for i in range(m):
        cur = edges[i][0]
        next_node = edges[i][1]
        if dist[cur] != INF and dist[next_node] > dist[cur] + 1:
            dist[next_node] = dist[cur] + 1
    return dist

bf(1)

[1000000000, 0, 1, 1, 2]

In [ ]:
bfx = pd.DataFrame(bf(x))
if bfx.isin([k]).sum == 0:
    print(-1)
else:
    for i in range(n + 1):
        if bf(x)[i] == k:
            print(i)

2
3

In [ ]:
if k in bf(x):
    for i in range(n + 1):
        if bf(x)[i] == k:
            print(i)
else:
    print(-1)

2
3

### 정답 (bfs 활용)

In [ ]:
from collections import deque
import sys
# f = sys.stdin.readline

n, m, k, x = map(int, input().split())
graph = [[] for _ in range(n + 1)]
distance = [0] * (n + 1)
visited = [False] * (n + 1)

for _ in range(m):
    a, b = map(int, input().split())
    graph[a].append(b)

4 4 1 1
1 2
1 3
2 3
2 4

In [ ]:
def bfs(start):
    answer = []
    q = deque([start])
    visited[start] = True
    distance[start] = 0
    while q:
        now = q.popleft()
        for i in graph[now]:
            if not visited[i]:
                visited[i] = True
                q.append(i)
                distance[i] = distance[now] + 1
                if distance[i] == k:
                    answer.append(i)
    if len(answer) == 0:
        print(-1)
    else:
        answer.sort()
        for i in answer:
            print(i, end = '\n')

bfs(x)

2
3

In [ ]:
q

deque([1, 2])

In [ ]:
q.popleft()
q

deque([2])

## 9372 상근이의 여행

In [ ]:
# 테스트 케이스의 수 t
t = int(input())

# 국가의 수 n, 비행기 종류 m
for _ in range(t):
    n, m = map(int, input().split())
    ap = []
    visited = [False] * (n + 1)

    # a와 b를 왕복하는 비행기
    for i in range(m):
        a, b = map(int, input().split())
        ap[i].append((a, b))

    answer = []
    q = deque([1])
    visited[1] = True

    while q:
        now = q.popleft()
        for i in

In [ ]:
ap = [(2, 1), (2, 3), (4, 3), (4, 5)]

In [ ]:
2 in ap[0]

True

### 정답

In [ ]:
# 연결되어 있을 때는 그냥 n-1개를 하면 된다.
t = int(input())

for _ in range(t):
    n, m = map(int, input().split())

    for _ in range(m):
        a, b = map(int, input().split())
    print(n - 1)

In [ ]:
t = int(input())

for _ in range(t):
    n, m = map(int, input().split())
    tree = [[] for _ in range(n + 1)]

    for _ in range(m):
        a, b = map(int, input().split())
        tree[a].append(b)
        tree[b].append(a)
    
    visit = [0] * (n + 1)

    def DFS(idx, cnt):
        visit[idx] = 1

        for i in tree[idx]:
            if visit[i] == 0:
                cnt = DFS(i, cnt + 1)
        
        return cnt

    result = DFS(1, 0)
    print(result)

2
3 3
1 2
2 3
1 3
2
5 4
2 1
2 3
4 3
4 5
4

## 19352 수학은 비대면강의입니다

In [32]:
a, b, c, d, e, f = map(int, input().split())

if a*b*d*e != 0:
    if (b*d - a*e) != 0:
        y = (c*d - a*f) / (b*d - a*e)
        x = (c - b*y) / a
elif a == 0 & b*d != 0:
    y = c / b
    x = (f - e*y) / d
elif b == 0 & a*e != 0:
    x = c / a
    y = (f - d*y) / e
elif d == 0 & a*e != 0:
    y = f / e
    x = (c - b*y) / a
elif e == 0 & b*d != 0:
    x = f / d
    y = (c - a*x) / b
else:
    x, y = 99999/2, 99999/2

2 5 8 3 -4 -11

In [39]:
if (int(x) == x) & (int(y) == y):
    if (-999 <= x) & (x <= 999) & (-999 <= y) & (y <= 999):
        print(int(x), int(y))

-1 2

In [38]:
(-999 <= x) & (x <= 999) & (-999 <= y) & (y <= 999)

True

In [34]:
for i in range(-999, 1000):
    for j in range(-999, 1000):
        if (a*i) + (b*j) == c and (d*i) + (e*j) == f:
            print(i, j)

-1 2

In [40]:
int((3/2))

1